.root {
    height: 100%;
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%;
}

.image {
    height: 90%;
    aspect-ratio: 1 / 1;

    border-radius: 100%;
    object-fit: cover;
}