.root {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 30px;

	overflow: auto;
}

.relatedContainers {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: baseline;
}

.relatedContainer {
	background-color: rgba(0, 0, 0, 0.082);
	padding: 10px;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: baseline;
	gap: 10px;

	max-height: 300px;
	overflow: auto;
}

.createButton {
	margin-top: 15px;
	align-self: center;
}