.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    overflow: hidden;
    padding: 0px !important;
    flex-grow: 1;
}

.tabs {
    flex: 0 0 auto;
}

.view {
    flex: 1 1 auto;
    overflow: auto;
    width: 100%;
}

.view > * {
    max-height: 100%;
}