.properties {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-top: 10px;
}

.relatedContainer {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.relatedItem {
	border: 1px solid #e0e0e0;
	margin-bottom: 8px;
	border-radius: 4px;
}

.relatedEntities {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 50px;
}