.root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 20px;
}