.app {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
}

.title {
    text-align: center;
    font-size: 50px;
}

.content {
    flex-grow: 1;

    color: white;
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(0, 0, 0, 0.4) 2%,
        rgb(0, 0, 0, 0.1) 98%,
        transparent
    );
}